nav {
    width: 100%;
    font-family: monospace;
    z-index: 10;
    margin-top: 20px;
    margin-right: 30px;
}
nav > ul {
    text-align: right;
}
nav > ul > li {
    list-style: none;
    display: inline-block;
}
nav ul li a {
    width: 20px;
    color: white;
    padding: 10px;
    font-size: small;
}
nav .btn-primary {
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
nav .btn-primary:hover {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #ecc3c3;
}
h1{
    display: block;
    text-align: center;
    color: #610e0e;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-style: inherit;
    font-family: sans-serif;
}
.card-deck{
    padding: 20px 20px 20px 20px;
    justify-content: space-around;
    margin: 20px 20px 20px 20px;
}
.card{
    color: rgb(236, 63, 5);
    justify-content: space-between;
}
body{
    background-color: rgb(26, 247, 247);
}